<!-- views/index.ejs -->

<%include partials/header%>

<!-- caroussel -->
<div id="carouselLanding" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselLanding" data-slide-to="0" class="active"></li>
        <li data-target="#carouselLanding" data-slide-to="1"></li>
        <li data-target="#carouselLanding" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="images/home1.png" alt="Audi R8">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="images/home2.png" alt="Bugatti Veyron">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="images/home3.png" alt="Audi S8">
        </div>
    </div>
    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselLanding" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselLanding" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<% if (typeof error !=='undefined'){ %><h4 style="color: red"><%= error%></h4><% } %>

<div class="search-form">
    <div class="versions">
        <form id="w1"  method="get" action="/catalog" name="expand">
            <ul id="carrosserie">
                <% bodyworks.forEach ((bodywork, index) => {%>
                <li>
                    <div class="checkBox">
                        <input type="checkbox" id="checkBox2" name="bodywork[]" value=<%= bodywork.car_body%> />
                        <label for="cb_<%= bodywork.car_body%>"><img class="grey"
                                src="images/icons_searchbar/<%= bodywork.car_body%>_grey.png"><img class="red"
                                src="images/icons_searchbar/<%= bodywork.car_body%>_red.png">
                            <%= bodywork.car_body%>
                        </label>
                    </div>
                </li>
                <% })%>
            </ul>
            

            <div class="brand-model-wrapper">
                <div class="select">
                    <select class="brand form-control" name="brand" data-prompt="Choisir la marque">
                        <option selected disabled value="">Choisir la marque</option>
                        <% brands.forEach ((brand, index) => {%>
                        <option value=<%= brand.car_brand%>><%= brand.car_brand%></option>
                        <% })%>

                    </select></div>
                <div class="select">
                    <select class="brand form-control" name="model" data-prompt="Choisir le modèle">
                        <option selected disabled value="">Choisir le modèle</option>
                        <% models.forEach ((model, index) => {%>
                        <option value="<%=model.car_model%>"><%=model.car_model%></optzion>
                            <% })%>
                    </select>
                </div>
                <div class="search-button">
                    <button type="submit" class="btn btn-danger"><span style="padding-right:5px;"
                            class="fas fa-search"></span>Recherche</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- carousel for desktop and tablet versions only -->
<div class="carousel-desktop">
    <div class="preview-title">
        <h2>OCCASIONS A LA UNE</h2>
        <h3>Un large choix de véhicules</h3>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div id="desktopCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#blogCarousel" data-slide-to="1"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <% for (let i = 0; i < 4 ; i++) {%>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="<%=images[i].car_image%>" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <% }%>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->
                    <div class="carousel-item">
                        <div class="row">
                            <% for (let i = 4; i < 8 ; i++) {%>
                            <div class="col-md-3">
                                <a href="#">
                                    <img src="<%=images[i].car_image%>" alt="Image" style="max-width:100%;">
                                </a>
                            </div>
                            <% }%>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
            </div>
            <!--.carousel-inner-->
        </div>
        <!--.Carousel-->
    </div>
</div>
</div>



<div class="brand-container">

    <div class="brand-title">
        <h2>SHOWROOM </h2>
        <h3>Toutes nos marques automobiles</h3>
    </div>


    <% brands.forEach ((brand, index) => {%>
    <a href="/catalog/<%= brand.car_brand%>">
        <img class="brand-image" src="images/logo_brands/<%= brand.car_brand%>.png" alt="<%= brand.car_brand%> logo"
            name="<%= brand.car_brand%>">
    </a>
    <% })%>

    <div class="display-all-brands">
        <a href="/catalog" class="btn btn-danger">Tous les modèles</a>
    </div>
</div>

<% include partials/footer.ejs %>